@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*----- VARIABLES CSS Y SASS -----*/
/*Varibles sass*/
/*Variables css*/
/*Colores*/
:root {
  --first-color: #F5FF1E;
  --black-color: #000;
  --white-color: #FFF;
}

/*Fuente y tipografia*/
:root {
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@keyframes animationLogo {
  from{
    color: var(--white-color);
  }

  50%{
    color: var(--first-color);
  }

  to{
    color: var(--white-color);
  }
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background: linear-gradient(#000 15%, #141414 100%);
  color: var(--white-color);
  height: 700px;
  overflow: hidden;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--black-color);
}
/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
    background-image: linear-gradient(var(--black-color), var(--first-color));
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__list {
  font-size: 22px;
  text-align: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__link:hover {
  position: relative;
  color: var(--first-color);

}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 0.1875rem;
  left: 0.125rem;
  top: 2.125rem;
  background-color: var(--first-color);
}

.nav__logo {
  font-size: 24px;
  color: var(--white-color);

  animation-name: animationLogo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.block-209 {
  height: 78%;
  width: 94%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transform: translateX(49px) translateY(92px)
}

.text-home {
  transform: translate(2px, 107px);
}

.text-home > span {
  font-size: 3em;
  color: var(--white-color);
}

.img-home {
  max-width: 150%;
  height: auto;
  transform: translateX(-204px) translateY(127px);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 291px;
  z-index: var(--z-normal);
}

.img-home > img {
  max-width: 146%;
  height: auto;
  transform: translateX(0px) translateY(0px);
  border-radius: 20%;
  filter: drop-shadow(0px 11px 15px #fff);
  border: solid 8px var(--first-color);
}

.bton-hoddie {
    font-size: 28px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    transform: translate(84px, -54px);
    color: var(--first-color);
    font-family: var(--body-font);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

.bton-hoddie:hover{
    background: var(--first-color);
    color: #050801;
    box-shadow: 0 0 5px var(--first-color),
                0 0 25px var(--first-color),
                0 0 50px var(--first-color),
                0 0 200px var(--first-color);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .l-main {
      height: 100vh;
    }
    .nav {
      height: 4rem;
    }
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle, .nav__close {
      display: none;
    }
    .nav__link {
      text-transform: initial;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }